adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==2.0.0
adafruit-circuitpython-requests==3.2.8
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
ads1015==1.0.0
ADS1115==0.2.1
black==24.8.0
cbor2==5.6.3
click==8.1.7
i2cdevice==1.0.0
joblib==1.4.2
luma.core==2.4.2
luma.lcd==2.11.0
mypy-extensions==1.0.0
numpy==1.24.4
packaging==24.1
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.3.6
psutil==5.9.8
pusherclient==0.3.0
pyftdi==0.55.4
pyky040==0.1.4
pyserial==3.5
pyusb==1.2.1
RPi.GPIO==0.7.1
smbus2==0.4.3
spidev==3.6
tomli==2.0.2
typing_extensions==4.11.0
websocket-client==1.7.0
